.w3-theme-l5 {
    color: #000 !important;
    background-color: #eef3fc !important
}

.w3-theme-l4 {
    color: #000 !important;
    background-color: #c7d8f4 !important
}

.w3-theme-l3 {
    color: #000 !important;
    background-color: #8fb1e9 !important
}

.w3-theme-l2 {
    color: #fff !important;
    background-color: #568ade !important
}

.w3-theme-l1 {
    color: #fff !important;
    background-color: #2866c9 !important
}

.w3-theme-d1 {
    color: #fff !important;
    background-color: #1a4282 !important
}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #173b74 !important
}

.w3-theme-d3 {
    color: #fff !important;
    background-color: #143365 !important
}

.w3-theme-d4 {
    color: #fff !important;
    background-color: #112c57 !important
}

.w3-theme-d5 {
    color: #fff !important;
    background-color: #0e2548 !important
}

.w3-theme-light {
    color: #000 !important;
    background-color: #eef3fc !important
}

.w3-theme-dark {
    color: #fff !important;
    background-color: #0e2548 !important
}

.w3-theme-action {
    color: #fff !important;
    background-color: #0e2548 !important
}

.w3-theme {
    color: #fff !important;
    background-color: #1d4992 !important
}

.w3-text-theme {
    color: #1d4992 !important
}

.w3-border-theme {
    border-color: #1d4992 !important
}

.w3-hover-theme:hover {
    color: #fff !important;
    background-color: #1d4992 !important
}

.w3-hover-text-theme:hover {
    color: #1d4992 !important
}

.w3-hover-border-theme:hover {
    border-color: #1d4992 !important
}