.flags{
    position:absolute;
    display:block;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;

    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;


    &.russian-flag{
        background-image: url("../img/level_02/ru.jpg");
    }

    &.romanian-flag{
        background-image: url("../img/level_02/ro.jpg");
    }
}