@each $size, $width in (xs, 0px), (sm, 768px), (md, 992px), (lg, 1200px) {

    @media (min-width: #{$width}) {

        @each $columns, $percent in (12, 100%), (11, 91.66666667%), (10, 83.33333333%),
                (9, 75%), (8, 66.66666667%), (7, 58.33333333%),
                (6, 50%), (5, 41.66666667%), (4, 33.33333333%),
                (3, 25%), (2, 16.66666667%), (1, 8.33333333%) {

            .row-#{$size}-#{$columns} {
                height: 0 !important;
                padding: 0 0 $percent !important;
            }

        }
    }
}


.row-content-box{
    position:absolute;
    display:flex;
    box-sizing: border-box;
    top:0;
    bottom:0;
    margin:0;
    left:0;
    right:0;

    //overflow:hidden !important;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
}
