@import "row_height";
@import "colors";
@import "flags";
@import "flip_box";
@import "stroke_gap";

html, body{
    font-family: "Trebuchet MS";
}


.circle-icon{
    position:absolute;
    display:block;
    height:50px;
    width:50px;
    background:red;

    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;

    border-radius:50%;
    text-align: center;

    .icon{
        position:absolute;
        width:25px;
        height:25px;
        font-size:25px;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;


    }
}

